/** IMPORTS **/
@import 'functions', 'mixins', '_custom_bootstrap_variables';
@import '_base';


  .contentOne, .contentTwo, .contentThree, .contentFour {
    border: 12px solid #55c7c3;
    border-right: 0;
    border-left: 0;
    border-bottom: 100px solid #55c7c3;
    background-color: #fbfbfb;
    @include media-breakpoint-down(sm){
      border-bottom: 50px solid #55c7c3;
    }
    @include media-breakpoint-down(xs){
      border-bottom: 50px solid #55c7c3;
    }
    //background-color: rgb(85, 199, 195);
   // padding-top: 2rem;
    .innerContainer {
      display: flex;
      flex-direction: column;

      p {
        line-height: 25px;
        margin-top: 3%;
      }

      @include media-breakpoint-down(md) {
        width: 100%;
        height: 100%;
      }
      @include media-breakpoint-down(sm) {
        margin: 0px auto;
        p {
          font-size: 14px;
        }
        h3 {
          font-size: 16px;
        }
      }

      .landingPage {
        margin: 2rem 1.5rem;
        .loginView {
          .loginViewImage {
            width: 100%;
          }
        }
      }

      .img_container {
        display: flex;
        justify-content: center;
        margin: 15% auto 0;

        &.nonTop {
          margin: 15px;
        }

        .individualPhone {
          width: 35%;
        }
        .mobileExample {
          width: 100%;
          height: 100%;
          margin: 3rem 0;

          &.tablet {
            width: 60%;
            height: 100%;
            @include media-breakpoint-down(md) {
              width: 80%;
            }
          }

          @include media-breakpoint-down(sm) {
            width: 100%;
            margin-top: 2rem;
          }
        }
      }

      .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        text-align: left;
        margin: 6rem auto;
        @include media-breakpoint-down(md){
          width: 90%;
          margin: 2rem auto;
        }
        h2{
          font-size: 2rem;
          @include media-breakpoint-down(sm){
            font-size: 1.5rem;
          }
        }
        .role {
          h2{
            color: #55c7c3;
          }
          @include media-breakpoint-down(sm) {
            font-size: 1.2rem;
          }
        }
        .introContent{
          font-size: 1.125rem;
          font-weight: bold;
          .description{
            font-weight: normal;
          }

        }
      }
      .subContent{
        h2{
         font-size:2rem;
         color:#55c7c3;
          @include media-breakpoint-down(sm){
            font-size: 1.5rem;
          }
        }
        h1{
          font-size: 3.5rem;
          @include media-breakpoint-down(sm){
            font-size: 2rem;
          }
        }
        .titleContainer {
          background-image: linear-gradient(to right, indigo, #55C7C3);
          display: flex;
          height: 200px;
          .title {
            display: flex;
            justify-content: center;
            margin: auto;
            .name {
              color: #ffffff;
            }
          }
        }
        .description{
          display: flex;
          width: 90%;
          margin: auto;
          margin-top: 15rem;
          font-size: 1.125rem;
          @include media-breakpoint-down(md){
            margin: 0 1rem;
            flex-direction: column;
          }

          .verbage{
            width: 40%;
            margin: auto;
            @include media-breakpoint-down(md){
              width: auto;
            }
          }
          .relatedImage{
            display: flex;
            justify-content: flex-end;
            width: 60%;
            margin: auto;
            @include media-breakpoint-down(md){
              width: auto;
            }
            .contentImage{
              width: 90%;
            }
          }
        }
      }

      margin: auto;

      .portal {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #b1b1b1;
        font-size: 14px;
        @include media-breakpoint-down(md) {
          flex-wrap: wrap;
        }

        .group {
          display: flex;
          flex-direction: row;
          @include media-breakpoint-down(md) {
            flex-direction: column;
            margin-bottom: 3%;
            &.first {
              margin-bottom: 1%;
            }
          }

          .info {
            flex-grow: 1;
            flex-basis: 0;

            .details {
              margin-bottom: 3%;

              .title {
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 2%;
                color: #38393b;
              }

              .description {
                line-height: 25px;
                font-size: 1.125rem;
              }
            }
          }
        }
      }

      .mobilePhones {
        display: flex;
        justify-content: center;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
        }

        .phoneExamples {
          width: 80%;
          height: auto;
          @include media-breakpoint-down(sm) {
            width: 70%;
          }
        }
      }
    }
  }
  