/** IMPORTS **/
@import 'functions', 'mixins', '_custom_bootstrap_variables';
@import '_base';


.mainContainer{
  display: flex;
  @include media-breakpoint-down(md){
    flex-direction: column;
  }
  .nameContainer{
    background-color: #15161c;
    width: 30%;
    @include media-breakpoint-down(md){
      width: 100%;
    }
    .bioContent{
      font-size: 40px;
      margin-top: 70%;
      margin-left: 20px;
      margin-right: 20px;
      position: sticky;
      top: 44%;
      @include media-breakpoint-down(md){
        margin: 20% 20px;
        font-size: 30px;
      }
      .name{
        color: #fff;
      }
      .designer{
        background-image: linear-gradient(to left, violet,indigo);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .developer{
        background-image: linear-gradient(to left, #1d1d1d,#5a5a5a,#d3d3d3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .blip{
        color: #ffffff;
        font-size: 25px;
        @include media-breakpoint-down(sm){
          font-size: 16px;
        }
      }
    }
  }
  .contentContainer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    p{
      line-height: 25px;
      margin-top: 3%;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(sm){
      margin: 0px auto;
      p {
        font-size: 14px;
      }
      h3{
        font-size: 16px;
      }
    }
    .img_container{
      display: flex;
      justify-content: center;
      margin: 15% auto 0;
      &.nonTop{
        margin: 15px;
      }
      &.process{
        display: flex;
        flex-direction: column;
      }
      &.trackerImg{
        margin-right: 0;
        margin-left: 0;
      }
      .individualPhone{
        width: 35%;
      }
      .initLapImg{
        width: 90%;
        height: 100%;
      }
      &.onboardingApp{
        width: 80%;
        height: 100%;
        margin: auto;
        margin-bottom: 1%;
      }

      .mobileExample{
        width: 50%;
        height: 100%;
        &.tablet{
          width: 60%;
          height: 100%;
          @include media-breakpoint-down(md){
            width: 80%;
          }
        }
        @include media-breakpoint-down(sm){
          width: 75%;
        }
      }
    }
    .portalIntro{
      .projectContainer{
        &.quadSquares{
          overflow: hidden;
          .twoProjHolder{
            display: flex;
            justify-content: center;
            width:100%;
            height: 50vh;
            @include media-breakpoint-down(sm){
              flex-direction: column;
              height: auto;
            }
            .projects{
              display: flex;
              justify-content: center;
              padding: 1rem;
              width: 50vw;
              height: auto;
              border-width: 12px;
              border-style: solid;
              background-color: #f8f8f8;
              text-align: center;
              &.active{
                background-color: rgb(85, 199, 195);
                h2{
                  color: #fff;
                }
              }
              &:hover{
                cursor: pointer;
                h2{
                  color: #fff;
                }
              }
              h2{
                font-weight: 500;
              }
              &:hover{
                .projDisplay{
                  &.grow{
                    transition: all .3s ease-in-out;
                  }
                  &.grow:hover{
                    transform: scale(1.05);
                  }
                }
              }
              @include media-breakpoint-down(sm){
                width: auto;
                text-align: center;
                h2{
                  font-size: 1rem;
                }
              }
              a{
                margin: auto;
                text-decoration: none;
              }
              &.projOne{
                border-color: rgb(85, 199, 195);
                &.active{
                  background-color: rgb(85, 199, 195);
                }
                &:hover{
                  background-color: rgb(85, 199, 195);
                }
              }
             &.projTwo{
               border-color: rgb(85, 199, 195);
               &:active{
                 background-color: rgb(85, 199, 195);
               }
               &:hover{
                 background-color: rgb(85, 199, 195);
               }
              }
              &.projThree{
                border-color: rgb(85, 199, 195);
                &:active{
                  background-color: rgb(85, 199, 195);
                }
                &:hover{
                  background-color: rgb(85, 199, 195);
                }
              }
              &.projFour{
                border-color: rgb(85, 199, 195);
                &:active{
                  background-color: rgb(85, 199, 195);
                }
                &:hover{
                  background-color: rgb(85, 199, 195);
                }
              }
              .innerDiv{
                width: 90%;
                margin: auto;
                .projDisplay{
                  width: 100%;
                }
              }
            }
          }
        }
        &.horzSquares{
          display: flex;
          flex-direction: row;
          overflow: auto;
          .twoProjHolder{
            height: 30vh;
            .innerDiv{
              width: 90%;
              margin: auto;
              .projDisplay{
                width: 100%;
              }
            }
            .projects{
              width: auto;
              height: auto;
              cursor: pointer;
              @include media-breakpoint-down(sm){
                border-width: 10px;
              }
              @include media-breakpoint-down(xs){
                border-width: 6px;
              }
              h2{
                font-size: 1rem;
                @include media-breakpoint-down(sm) {
                  font-size: 12px;
                  font-weight: normal;
                }
                @include media-breakpoint-down(xs) {
                  font-size: 10px;
                }
              }
              @include media-breakpoint-down(xs){
                padding: 8px;
                .projDisplay{
                  display: none;
                }
              }
            }
            @include media-breakpoint-down(sm) {
              flex-direction: row;
              height: 15vh;
            }
            }
          }
        }
      }
      .workflowTitle{
        text-align: center;
        font-style: italic;
        @include media-breakpoint-down(md){
          font-size: 14px;
        }
      }
    }
  }