/** IMPORTS **/
@import 'functions', 'mixins', '_custom_bootstrap_variables';
@import '_base';


.mainContainer{
  display: flex;
  @include media-breakpoint-down(md){
    flex-direction: column;
  }
  .nameContainer{
    background-color: #15161c;
    width: 30%;
    @include media-breakpoint-down(md){
      width: 100%;
    }
    .bioContent{
      font-size: 40px;
      margin-top: 70%;
      margin-left: 20px;
      margin-right: 20px;
      position: sticky;
      top: 44%;
      @include media-breakpoint-down(md){
        margin: 20% 20px;
        font-size: 30px;
      }
      .name{
        color: #fff;
      }
      .designer{
        background-image: linear-gradient(to left, violet, indigo, blue, green, #ff00d0,orange,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .developer{
        background-image: linear-gradient(to left, #1d1d1d,#5a5a5a,#d3d3d3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .blip{
        color: #ffffff;
        font-size: 25px;
        @include media-breakpoint-down(sm){
          font-size: 16px;
        }
      }
    }
  }
  .contentContainer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    p{
      line-height: 25px;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      height: 100%;
      margin: 20px auto;
    }
    @include media-breakpoint-down(sm){
      margin: 0px auto;
    }
    .img_container{
      display: flex;
      justify-content: center;
      margin: 15% auto 0;
      &.nonTop{
        margin: 15px;
      }
      &.process{
        display: flex;
        flex-direction: column;
      }
      .initLapImg{
        width: 90%;
      }
      .mobileExample{
        width: 50%;
        @include media-breakpoint-down(sm){
          width: 75%;
        }
      }
    }
    .portalIntro{
      margin: 0 75px;
      @include media-breakpoint-down(md){
        margin: 0 25px;
      }
    }

    .panel {
      .portalProcess {

        .process {
          margin: 15px 0;
          @include media-breakpoint-down(md) {
            margin: 15px 0;
          }

          .subTitle {
            font-weight: bold;
          }

          .desktopExamples {
            width: 100%;

            &.steps {
              margin-top: 20px;
            }
          }
        }
      }
    }

    .accordion {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      @include media-breakpoint-down(lg) {
        @media (orientation: landscape) {
          height: 88vh;
        }
        @media (orientation: portrait) {
          height: 50vh;
        }
      }
      @include media-breakpoint-down(sm){
         height: 50vh;
       }

      @include media-breakpoint-down(xs){
        height: 40vh;
      }
      &.projOne{
        color: #ffffff;
        background-color: #55c7c3;
        &:hover{
          background-color: #008581;
          h2{
            color: #fff;
          }
        }
        &.active{
          background-color: #008581;
          h2{
            color: #fff;
          }
        }
      }
      &.projTwo{
        background-color: #98e8e5;
        &:hover{
          background-color: #008581;
          h2{
            color: #fff;
          }
        }
        &.active{
          background-color: #008581;
          h2{
            color: #fff;
          }
        }
      }
      &.projThree{
        background-color: #c8f0ef;
        &:hover{
          background-color: #008581;
          h2{
            color: #fff;
          }
        }
        &.active{
          background-color: #008581;
          h2{
            color: #fff;
          }
        }
      }
      .projExample{
        width: 80%;
        margin: 10% auto;
        @include media-breakpoint-down(md) {
          @media (orientation: landscape) {
            width: 75%;
            margin: 2% auto;
          }
          @media (orientation: portrait) {
            width: 85%;
            margin: 2% auto;
          }
        }
        @include media-breakpoint-down(sm){
          width: 80%;
          margin: 4% auto;
        }
      }
      @include media-breakpoint-down(xs){
        h2{
          font-size: 1rem;
        }
      }
    }

    .accordion {
      &.proccessButton{
        background-color: #ffffff;
        padding: 20px 75px;
        @include media-breakpoint-down(sm){
          padding: 20px 25px;
        }
        font-family: metropolis,sans-serif;
        font-size: 16px;
        height: initial;
        &:hover{
          background-color: #e7eae2;
          color: #008581;
          h3{
            color: #008581;
          }
          .openIcon, .closeIcon {
            color: #008581;
          }
        }
        &.active{
          background-color: #e7eae2;
          color: #008581;
          h3{
            color: #008581;
          }
          .openIcon, .closeIcon {
            color: #008581;
          }
        }
        .iconholder{
          display: flex;
          width: 100%;
          justify-content: center;
          .openIcon, .closeIcon{
            &.displayNone{
              display: none;
            }
          }
        }
        .img_container{
          margin: 0;
          img{
            width: 100%;
          }
        }
      }
    }



    /* Style the accordion panel. Note: hidden by default */
    .panel {
      margin: 0 75px;
      padding: 0 18px;
      background-color: white;
      display: none;
      overflow: hidden;
      .nonTop{
        .desktopExamples{
          width: 100%;
        }
      }
      @include media-breakpoint-down(lg){
        margin: 0 25px;
      }
      @include media-breakpoint-down(sm){
        margin: 0 10px;
        p{
          font-size: 14px;
        }
      }

    }
  }
}