/** IMPORTS **/
@import 'functions', 'mixins', '_custom_bootstrap_variables';
@import '_base';


.mainContainer{
  display: flex;
  @include media-breakpoint-down(md){
    flex-direction: column;
  }
  .nameContainer{
    background-color: #15161c;
    width: 30%;
    @include media-breakpoint-down(md){
      width: 100%;
    }
    .bioContent{
      font-size: 40px;
      margin-top: 70%;
      margin-left: 20px;
      margin-right: 20px;
      position: sticky;
      top: 44%;
      @include media-breakpoint-down(md){
        margin: 20% 20px;
        font-size: 30px;
      }
      .name{
        color: #fff;
      }
      .designer{
        background-image: linear-gradient(to left, violet, indigo, blue, green, #ff00d0,orange,red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .developer{
        background-image: linear-gradient(to left, #1d1d1d,#5a5a5a,#d3d3d3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .blip{
        color: #ffffff;
        font-size: 25px;
        @include media-breakpoint-down(sm){
          font-size: 16px;
        }
      }
    }
  }
  .contentContainer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    p{
      line-height: 25px;
      margin-top: 3%;
    }
    @include media-breakpoint-down(md){
      width: 100%;
      height: 100%;
    }
    @include media-breakpoint-down(sm){
      margin: 0px auto;
      p {
        font-size: 14px;
      }
      h3{
        font-size: 16px;
      }
    }
    .img_container{
      display: flex;
      justify-content: center;
      margin: 15% auto 0;
      &.nonTop{
        margin: 15px;
      }
      &.process{
        display: flex;
        flex-direction: column;
      }
      &.trackerImg{
        margin-right: 0;
        margin-left: 0;
      }
      .individualPhone{
        width: 35%;
      }
      .initLapImg{
        width: 90%;
        height: 100%;
      }
      &.onboardingApp{
        width: 80%;
        height: 100%;
        margin: auto;
        margin-bottom: 1%;
      }

      .mobileExample{
        width: 50%;
        height: 100%;
        &.tablet{
          width: 60%;
          height: 100%;
          @include media-breakpoint-down(md){
            width: 80%;
          }
        }
        @include media-breakpoint-down(sm){
          width: 75%;
        }
      }
    }
    .portalIntro{
      .projectContainer{
        overflow: hidden;
          .twoProjHolder{
            display: flex;
            justify-content: center;
            width:100%;
            height: 50vh;
            @include media-breakpoint-down(sm){
              flex-direction: column;
              height: auto;
            }
            .projects{
              display: flex;
              justify-content: center;
              padding: 1rem;
              width: 50vw;
              height: 50vh;
              &:hover{
                .projDisplay{
                  &.grow{
                    transition: all .3s ease-in-out;
                  }
                  &.grow:hover{
                    transform: scale(1.05);
                  }
                }
              }
              @include media-breakpoint-down(sm){
                width: auto;
              }
              a{
                margin: auto;
                text-decoration: none;
              }
              &.projOne{
                background-color: rgb(85, 199, 195);
                &:hover{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
                &.active{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
              }
              &.projTwo{
                background-color: rgb(152, 232, 229);
                &:hover{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
                &.active{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
              }
              &.projThree{
                background-color: rgb(200, 240, 239);
                &:hover{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
                &.active{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
              }
              &.projFour{
                background-color: rgb(220, 240, 238);
                &:hover{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
                &.active{
                  background-color: #008581;
                  h2{
                    color: #fff;
                  }
                }
              }
              .innerDiv{
                width: 90%;
                margin: auto;
                .projDisplay{
                  width: 100%;
                }
              }
            }
          }
      }

      .portal{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #b1b1b1;
        font-size: 14px;
        @include media-breakpoint-down(md){
          flex-wrap: wrap;
        }
        .group{
          display: flex;
          flex-direction: row;
          @include media-breakpoint-down(md){
            flex-direction: column;
            margin-bottom: 3%;
            &.first{
              margin-bottom: 1%;
            }
          }
          .info{
            flex-grow: 1;
            flex-basis: 0;
            .details{
              margin-bottom: 3%;
              .title{
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 2%;
                color: #38393b;
              }
              .description{
                line-height: 25px;
              }
            }
          }
        }
      }
      .workflowTitle{
        text-align: center;
        font-style: italic;
        @include media-breakpoint-down(md){
          font-size: 14px;
        }
      }
    }
    .portalProcess {
      margin: 0 6%;
      @include media-breakpoint-down(md) {
        margin: 0 25px;
      }
      .process {
        margin: 15px 0;
        @include media-breakpoint-down(md) {
          margin: 15px 0;
        }

        .subTitle {
          font-weight: normal;
        }

        .desktopExamples {
          width: 100%;
          height: 100%;

          &.steps {
            margin-top: 20px;
          }
        }
      }
      .issuesList{
        @include media-breakpoint-down(md) {
          padding-left: .5rem;
        }
      }
      .issue{
        margin: 0;
        padding: 30px 0 30px 84px;
        list-style: none;
        @include media-breakpoint-down(md){
          padding: 20px 0 20px 67px;
        }
        &.systems {
          background-image: url("../images/computer.png");
        }
        &.reports{
          background-image: url("../images/chart.png");
        }
        &.automated{
          background-image: url("../images/gears.png");
        }
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 40px;
        @include media-breakpoint-down(md){
          background-size: 30px;
        }


      }
      .process{
        margin-bottom: 5%;
        .processPoint{
          margin: 1% 0;
          @include media-breakpoint-down(md){
            margin: 2% 0;
          }
        }
      }

      .workflows{
        .workflowTitle{
          text-align: center;
          font-style: italic;
          @include media-breakpoint-down(md){
            font-size: 14px;
          }
        }
      }
      .mockupContainer{
        margin: 5% 0;
        .mockupTitle{
          margin: 3% 0;
          text-align: center;
          font-style: italic;
        }
      }
      .workflowTitle{
        text-align: center;
        font-style: italic;
        @include media-breakpoint-down(md){
          font-size: 14px;
        }
      }
    }


    .accordion {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      .mobileOpen{
        color: #535456;
      }
      @include media-breakpoint-down(lg) {
        @media (orientation: landscape) {
          height: 100%;
        }
        @media (orientation: portrait) {
          height: 100%;
        }
      }
      @include media-breakpoint-down(sm){
        height: 100%;
      }
      &.projOne{
        color: #ffffff;
        background-color: #55c7c3;
        &:hover{
          background-color: #008581;
          h2{
            color: #fff;
          }
          .mobileOpen{
            color: #fff;
          }
        }
        &.active{
          background-color: #008581;
          h2{
            color: #fff;
          }
          .mobileOpen{
            color: #fff;
          }
        }
      }
      &.projTwo{
        background-color: #98e8e5;
        &:hover{
          background-color: #008581;
          h2{
            color: #fff;
          }
          .mobileOpen{
            color: #fff;
          }
        }
        &.active{
          background-color: #008581;
          h2{
            color: #fff;
          }
          .mobileOpen{
            color: #fff;
          }
        }
      }
      &.projThree{
        background-color: #c8f0ef;
        &:hover{
          background-color: #008581;
          h2{
            color: #fff;
          }
          .mobileOpen{
            color: #fff;
          }
        }
        &.active{
          background-color: #008581;
          h2{
            color: #fff;
          }
          .mobileOpen{
            color: #fff;
          }
        }
      }
      .projExample{
        width: 80%;
        margin: 10% auto;
        @include media-breakpoint-down(md) {
          @media (orientation: landscape) {
            width: 75%;
            margin: 2% auto;
          }
          @media (orientation: portrait) {
            width: 85%;
            margin: 2% auto;
          }
        }
        @include media-breakpoint-down(sm){
          width: 80%;
          margin: 4% auto;
        }
      }
      @include media-breakpoint-down(xs){
        h2{
          font-size: 1rem;
        }
      }
    }

  }
}