#ajax,#bootstrap,#css,#express,#jquery,#mongo,
#handle,#html,#mocha,#my,#node,#js,#react,#git,#adobe{
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#ajax{
	width: 120px;
	height: 75px;
}
#bootstrap{
	width: 130px;
	height: 80px;
}

#css{
	height: 90px;
	width: 60px;
}

#jquery{
	width: 160px;
	height: 85px;
}

#express, #mongo{
	width: 140px;
	height: 35px;
}

#handle{
	width:140px;
	height: 80px;
}

#html{
	height: 90px;
	width: 70px;
}

#js{
	height: 80px;
	width: 85px;
}

#mocha{
	height:80px;
	width: 70px;
}

#my{
	width: 100px;
	height: 50px;
}

#node{
	width: 100px;
	height:60px;
}

#react{
	width: 130px;
	height: 70px;
}

#git{
	width:70px;
	height: 70px;
}

#adobe{
	width: 150px;
	height: 60px;
}

