#ajax,#bootstrap,#css,#express,#jquery,#mongo,
#handle,#html,#mocha,#my,#node,#js{
	margin-right: 15px;
	margin-left: 15px;
}

#ajax{
	width: 110px;
	height: 75px;
}
#bootstrap{
	width: 120px;
	height: 80px;
}

#css{
	height: 80px;
	width: 50px;
}

#jquery{
	width: 140px;
	height: 60px;
}

#express, #mongo{
	width: 140px;
	height: 35px;
}

#handle{
	width:140px;
	height: 80px;
}

#html{
	height: 80px;
	width: 65px;
}

#js{
	height: 80px;
	width: 80px;
}

#mocha{
	height:80px;
	width: 70px;
}

#my{
	width: 100px;
	height: 50px;
}

#node{
	width: 100px;
	height:60px;
}

#main{
	background-color: transparent;
}

.jumbotron{
	background-color: #92b8ce;
	margin-bottom: 0;
	color: #fff;
}

.container{
	width: 100vw;
}

.navbar{
	background-color: #80aec9;
}

#proPic{
	height: 250px;
	width: 250px
}

#bioInfo{
	padding-top: 50px;
	font-weight: bold;
}

#bioPara{
	margin-top: 0;
	font-size: 20px;
}

#links{
	padding-bottom: 100px;
}

#skillRow{
	padding-top: 25px;
	padding-bottom: 20px;
}

#logos{
	padding-bottom: 25px;
}

#logos2{
	padding-bottom: 100px;
}
#bioPara,#links,#bioInfo{
	background-color: rgb(242, 242, 242);
}

#skillRow,#logos,#logos2{
	background-color: rgb(242, 242, 242)
}
#projectHeader,#projectWell,
#projectWell2{
	background-color: rgb(242, 242, 242)
}

#projectHeader{
 padding-top:25px;
}

#projectWell{
	margin-top: 0;
	padding-top: 25px;
}

#projectWell2{
	padding-top: 25px;
	padding-bottom: 100px;
}

footer{
	background-color: #80aec9;
	color: rgba(255,255,255, .5);
	padding-top: 15px;
	height: 50px;
}


