.caption{
     padding-top:0px !important;
}

.caption > h3 {
    color: white;
    
}

h1{
    font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 45px;
}

#name{
    margin-bottom: 10px;
}
#nameMargin{
    margin-top:0px !important;
    margin-left:5px;
    color: white;
}

.navbar{
    padding: 10px;
}

.thumbnail{
    border-width: 0;
    background: rgba(83, 108, 136,.4);
}

p{
    color: white;
}

.img{
    width: auto;
}


