#main{
	background-color: transparent;

}


.jumbotron{
	background-color: #ff975b;
}

.display-3{
	font-weight: bold;
}

.navbar{
	background-color: #ff975b;
}

#proPic{
	height: 250px;
	width: 250px
}

#bioInfo{
	font-weight: bold;
}

#myChart{
	width: 400px;
	height: 400px;
}





