#main{
	background-color: transparent;

}
body{
	

}

.jumbotron{
	background-color: #ff975b;
}

.display-3{
	font-weight: bold;
}

.navbar{
	background-color: #ff975b;
}

#proPic{
	height: 250px;
	width: 250px
}

#bioInfo{
	padding-left: 200px;
	padding-right: 200px;
	font-weight: bold;
}





