<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piper Hayden</title>
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <link href="../css/landingPage.css" rel="stylesheet"/>
</head>
<body>
<div class="mainContainer">
    <div class="nameContainer">
        <div class="bioContent">
            <div class="name">PIPER HAYDEN</div>
            <div class="designer">DESIGNER</div>
            <div class="developer">DEVELOPER</div>
            <div class="blip">Currently designing and developing at
                Corsicana Mattress. BA in Graphic Design, and
                full stack development certificate. </div>
        </div>
    </div>

    <div class="contentContainer">
        <div class="img_container">
            <img src="../images/initialLaptop.png" alt="initialLapTopPhoto" class="initLapImg">
        </div>
        <div class="portalIntro">
            <h1>GoCorsicana</h1>
            <h3>A Portal for Your Needs</h3>
            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis sodales augue, sed porttitor sapien dignissim at. Mauris lacinia sit amet turpis eu dapibus. Etiam congue mollis lorem, sit amet laoreet tortor finibus hendrerit.
                Morbi odio tellus, ullamcorper sit amet metus pellentesque, volutpat iaculis erat. Ut maximus ex eu bibendum mattis. Maecenas tincidunt mi a eros placerat viverra. Cras ut tincidunt nunc, a venenatis ex. </p>

            <h3>My Role</h3>

            <p class="intro">Nam sed dictum orci. Praesent pellentesque sagittis facilisis. Ut bibendum massa magna, ac bibendum nisi tincidunt nec. Sed ultrices dolor convallis sapien viverra, nec sodales leo hendrerit. Pellentesque faucibus sollicitudin felis,
                quis sollicitudin nunc molestie eu. Cras lacinia est neque, at feugiat lectus ullamcorper eu. Fusce posuere sapien ut orci gravida faucibus. </p>

            <div class="img_container nonTop">
                <img src="../images/mobileDisplay3.png" alt="Mobile Display of Three Screens" class="mobileExample">
            </div>

            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
        </div>
        <button class="accordion projects projOne">
            <img src="../images/tracker_lap_mob.png" alt="Display of Mobile and Laptop Tracker" class="projExample">
            <h2> Order Tracker (2018)</h2>
        </button>
        <div class="panel">
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
        </div>
        <button class="accordion projects projTwo">
            <img src="../images/catalog_lap_mob.png" alt="Display of Mobile and Laptop Catalog" class="projExample">
            <h2> Customer Catalog (2019)</h2>
        </button>
        <div class="panel">
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
        </div>
        <button class="accordion projects projThree">
            <img src="../images/onboarding_lap_mob.png" alt="Display of Mobile and Laptop Onboarding" class="projExample">
            <h2> Customer Onboarding (2019)</h2>
        </button>
        <div class="panel">
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
            <p class="intro">
                Nullam tincidunt dui ipsum, vel pretium metus suscipit quis. Quisque consectetur varius nisl eu auctor. Nam nunc velit, commodo mollis sollicitudin vel, bibendum in tellus.
                Ut quis varius eros, quis finibus leo. Phasellus quis felis eu elit mollis tempor. Aenean purus nunc, suscipit pharetra felis sit amet, tristique tristique ligula.
                In consectetur magna eget dolor vulputate tincidunt. Mauris tempus orci nec feugiat dictum. Duis tincidunt nisi sed neque dapibus rhoncus quis in velit.
                Etiam bibendum justo vitae sem hendrerit, vestibulum convallis leo blandit. Duis eget quam quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                Fusce eget semper metus. Integer vulputate odio ut porta sodales. Suspendisse non condimentum quam, malesuada lobortis purus.</p>
        </div>

    </div>
</div>

<script src="../mainFunctions.js"></script>
</body>
</html>